[Unit]
Description=Discord BOT

[Service]
ExecStart=/usr/bin/node /prod/discord-bot/index.js
TimeoutSec=10
Restart=1
RestartSec=3
User=apodpm

[Install]
WantedBy=multi-user.target
